<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
	<title>Header - Navigation Bar</title>

	<script src="https://code.jquery.com/jquery-2.2.4.min.js"> </script>
	<script type="text/javascript" src="../js/csrf.js"></script>
	<script type="text/javascript" src="../js/header.js"></script>
</head>
<body>
	<div class="header" th:fragment="header" th:data-basketsize="${basketSize}">
		<div class="image-container">
			<a href="/home"><img class="icon-home" src="" alt="HOME"></a>
		</div>
		<ul class="nav-header">
            <li class="toProduct"><a href="/productPage">Products</a></li>
            <li class="toBasket"><a id="basket" href="/basket" th:text="'Basket (' + ${basketSize} + ')'">Basket</a></li>
            <li class="toCheckout"><a href="/checkout">Checkout</a></li>
            
            <li id="loginBTN" sec:authorize="isAnonymous()"><a href="/login" >Login</a></li>
			<li id="logoutBTN" sec:authorize="isAuthenticated()"><a href="/logout" onclick="logout()">Logout</a></li>
        </ul>
	</div>
</body>
</html>